body{
	background-color: #4396e3;
	color: black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
}
.wrapper{
	padding: 20px;
	background-color: white;
}
h1{
	font-size: 1.8rem;
	margin-bottom: 20px;

}
form{
	max-width: 600px;
}
form a{
	display: block;
	width: 100px;
	text-align: center;
	border-radius: 5px;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 5px;
	border: 1px solid black;
}

legend{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

label{
	display: block;
	margin-bottom: 5px;
	font-size: 1.2rem;
}
input[type="radio"] + label, input[type="radio"]{
	display: inline-block;
	margin-bottom: 15px;
}
input[type="text"], textarea{
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 1.2rem;
	padding: 5px;
	margin-bottom: 20px;
}
input[type="submit"]{
	display: block;
}
.personalized-fieldset{
	display: none;
}
